asgiref==3.12.1
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
packaging==26.3
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dotenv==1.2.2
sqlparse==0.5.5